<h1>Update this Patient's information</h1>

<%= render 'form' %>

<!--<%= link_to 'Show', @patient %>-->
<%= link_to 'Back to Home', front_url %>
|
<%= link_to 'Back to Listing Patients', patients_path %>
